<html ng-app="myApp" ng-controller="myCtrl">
  <head>
    <title>Register</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="shortcut icon" href="images/favicon.ico">
  </head>
  <body id="register"  >
    <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <div class="logo">
          <img src="images/favicon.ico" alt="">
          </div>
          <!-- <a class="navbar-brand" href="#myPage">Logo</a> -->
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="index.html">TRANG CHỦ</a></li>
            <li><a href="index.html#about-us">GIỚI THIỆU</a></li>
            <li><a href="index.html#soccer-system">SÂN BÓNG</a></li>
            <li><a href="matches.html">TRẬN ĐẤU</a></li>
            <li><a href="index.html#soccer-picture">SÂN CỎ</a></li>
            <li><a href="index.html#contact">LIÊN HỆ</a></li>
            <li ng-if="currentUser"><a href="#" style="text-transform: uppercase">{{currentUser.first_name}}</a></li>
            <li  ng-if="currentUser"><a ng-click="logout()" href="">ĐĂNG XUẤT</a></li>
            <li  ng-if="!currentUser"><a href="index.html#about-us">ĐĂNG NHẶP</a></li>
          </ul>
        </div>
      </div>
    </nav>
    </header>

    <div ng-if="messenger" class="container messenger">
      <div class="col-md-12">
        <div>
          <ul>
            <li>{{messenger.error}}</li>
            <li>{{messenger.msg}}</li>
            <li>{{error}}</li>
          </ul>
        </div>
      </div>
    </div>

    <div ng-if="!messenger"></div>

    <section >
      <h1 class="text-center">Create match</h1>
      <div class="container " style= "padding-top: 50px">

          <form class="register-form">
            <div class="col-md-5 col-sm-offset-1  " >
              <div class="form-group">        <!-- <label for="exampleInputEmail1">Tên đăng nhập</label> -->
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Tên sân" ng-model="match.first_name">
              </div>
              <div class="form-group">        <!-- <label for="exampleInputEmail1">Tên đăng nhập</label> -->
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Số lượng" ng-model="user.last_name">
              </div>
              <div class="form-group">
                <!-- <label for="exampleInputEmail1">Địa chỉ email</label> -->
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Thời gian bắt đầu"  ng-model="user.email" >
              </div>
              <div class="form-group">        <!-- <label for="exampleInputEmail1">Tên đăng nhập</label> -->
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Thời gian kết thúc " ng-model="user.name">
              </div>
              <!-- <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div> -->
            </div>

            <!-- <div class="col-md-5 col-sm-offset-1 " >
              <div class="form-group">
                <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Mật khẩu" ng-model="user.password">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Số điện thoại" ng-model="user.phone">
              </div>
              <select  class="form-control" ng-model="user.district" >
                <option value="">Địa chỉ</option>
                <option value="1" >Liên Chiểu</option>
                <option value="2">Hải Châu</option>
                <option value="3">Cẩm lệ</option>
                <option value="4">Hoà Vang</option>
              </select>
              <select  class="form-control"  ng-model="user.gender">
                <option value="">Giới tính</option>
                <option value="m">Male</option>
                <option value="f">Female</option>
              </select>

            </div> -->
            <div class="text-center">
            <button ng-click="creatematch()" type="submit" class="btn btn-primary ">Submit</button>
            </div>
          </form>
    </div>
  </section>
  <!-- <script type="text/javascript">
             $(function () {
                 $('#datetimepicker1').datetimepicker();
             });
         </script> -->
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/angular-cookies.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script >
    var myApp = angular.module("myApp",['ngCookies']);
    myApp.controller("myCtrl",function($scope,$http,$cookies){
      $scope.currentUser = $cookies.getObject('currentUser');
      console.log($scope.currentUser);
      // $scope.maxSize = 3;

      $scope.logout= function() {
        $cookies.remove('currentUser');
        $scope.currentUser = null;
      };

      $scope.user={};
      $scope.creatematch = function() {
        window.location= '/matches.html';
      };

      // $scope.messenger={};
      // $scope.match={};
      // $scope.creatematch = function() {
      //   $http.post('https://khuebui.herokuapp.com/api/register?email='+$scope.user.email+'&username='+$scope.user.name+'&password='+$scope.user.password+'&district_id='+$scope.user.district+'&phone_number='+$scope.user.phone+'&gender='+$scope.user.gender+'&last_name='+$scope.user.last_name+'&first_name='+$scope.user.first_name).success(function(res){
      //       $scope.messenger = res ;
      //       window.location= '/matches.html';
      //   }).error(function(res){
      //       $scope.error = 'API error';
      //
      //   });
      // };
    });

  </script>

  </body>
</html>
