<!DOCTYPE html>
<html ng-app="myApp"  ng-controller="myCtrl"  lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Online soccer network</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="shortcut icon" href="images/favicon.ico">
</head>
<body id="myPage" >
<!--  data-spy="scroll" data-target=".navbar" data-offset="50" -->
<header>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <div class="logo">
      <img src="images/favicon.ico" alt="">
      </div>
      <!-- <a class="navbar-brand" href="#myPage">Logo</a> -->
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#myPage">TRANG CHỦ</a></li>
        <li><a href="#about-us">GIỚI THIỆU</a></li>
        <li><a href="#tour">SÂN BÓNG</a></li>
        <li><a href="#contact">TRẬN ĐẤU</a></li>
        <li><a href="#contact">SÂN CỎ</a></li>
        <li><a href="#contact">LIÊN HỆ</a></li>
        <li ng-if="currentUser"><a href="#contact" style="text-transform: uppercase">{{currentUser.first_name}}</a></li>
        <li  ng-if="currentUser"><a ng-click="logout()" href="">ĐĂNG XUẤT</a></li>
        <li  ng-if="!currentUser"><a href="#about-us">ĐĂNG NHẶP</a></li>
      </ul>
    </div>
  </div>
</nav>
</header>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <!-- Wrapper for slides -->
    <div class="carousel-inner" >
      <div class="item active">
        <img src="images/slider/2.1.jpg" alt="New York" width="1200" height="700">
        <div class="carousel-caption">
          <p>Online soccer network</p>
          <span>Thoải mái để chọn sân mình muốn.</span>
          <div class="button-index">
            <a class="btn " href="register.html">Đăng ký</a>
            <a class="btn btn-primary" href="login.html">Đăng nhập</a>
          </div>
        </div>

      </div>

      <div class="item">
        <img src="images/slider/1.jpg" alt="Chicago" width="1200" height="700">
        <div class="carousel-caption">
          <p>Online soccer network</p>
          <span>Hảy đến với chúng tôi để tận hưởng những điều tuyệt vời nhất.</span>
          <div class="button-index">
            <a class="btn btn-primary" href="register.html">Đăng ký</a>
            <a class="btn btn-primary"href="login.html">Đăng nhập</a>
          </div>
        </div>
      </div>

      <div class="item">
        <img src="images/slider/3.1.jpg" alt="Los Angeles" width="1200" height="700">
        <div class="carousel-caption">
          <p>Online soccer network</p>
          <span>Hảy nhanh tay đăng ký để tận hưởng ứng dụng tuyệt vời của chúng tôi</span>
          <div class="button-index">
            <a class="btn btn-primary" href="register.html">Đăng ký</a>
            <a class="btn btn-primary"href="login.html">Đăng nhập</a>
          </div>
        </div>
      </div>
    </div>
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<!--/#about-us-->
<section id="about-us">
  <div class="container">

      <div class="col-sm-6">
        <div >
          <h2>Hãy trải nghiệm cùng <span style="color: red;font-weight: bold">Online Soccer Network</span></h2>
          <p>Hãy nhanh chân đến với chúng tôi.Nếu bạn là những người yêu thích đá bóng và muốn tìm kiếm sân bóng thích hợp để tận hưởng niềm đam mê ấy cùng bạn bè,đồng đội.Thì chúng tôi chính là những người bạn cần.Bạn sẽ tìm thấy những điều bạn cần,ở mọi nơi trên đất nước này.Chỉ cần đến với chúng tôi và vài click bạn sẽ tìm được cho mình sân bóng, đội bóng ưng ý,<span style="color: red;font-weight: bold">Online Soccer Network</span> sẽ không làm bạn thất vọng.
        </div>
      </div>
      <div class="col-md-6 " ng-if="!currentUser">
        <div class="row">
        <section id="login" >
          <h1 class="text-center">Login</h1>
          <div  style= "padding-top: 50px">
            <div class="col-md-8 col-sm-offset-2 " >
              <form class="login-form">
                <div class="form-group">
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Tên đăng nhập" ng-model="user.name">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Mật khẩu" ng-model="user.password">
                </div>
                <div class="text-center">
                <button ng-click="login()" type="submit" class="btn btn-primary">Sign in</button>   <a href="register.html">Create a new acount ?</a>
                </div>
              </form>
            </div>

        </div>
      </section>
      </div>
    </div>
    <div class="col-md-6" ng-if="currentUser">
      <img src="images/about.jpg" class="img-responsive" alt="Image">
    </div>
  </div>
</section>

<!-- soccer system -->
<section id="soccer-system">
  <div class="container ">
      <div class="row" >
        <div class=" heading text-center col-sm-8 col-sm-offset-2">
          <h2>Hệ Thống Các Sân Bóng</h2>
        </div>
      </div>
        <div class="col-md-12 col-sm-12 col-xs-12 text-center " >
            <table class="table ">
              <thead>
                <tr>
                  <th class="text-center">Tên Sân</th>
                  <th class="text-center">Địa Chỉ</th>
                  <!-- <th class="text-center">Giá buổi sáng</th>
                  <th class="text-center">Giá buổi chiều</th>
                  <th class="text-center">Giá buổi tối</th>
                  <th class="text-center">Số điện thoại</th> -->
                  <th class="text-center">Hình Ảnh</th>
                </tr>
                <tr style="border-bottom:1px solid #ddd" ng-repeat="stadium in filterData = (stadiums | limitTo:currentPage*3:3 * (currentPage - 1))" >
                  <td class="text-center" >
                   <a href="detailStadium.html#?id={{stadium.id}}" >{{stadium.name}}</a>
                  </td>
                  <td class="text-center"  >{{stadium.address}}</td>
                  <!-- <td class="text-center" >{{stadium.price_morning}}</td>
                  <td class="text-center" >{{stadium.price_afternoon}}</td>
                  <td class="text-center" >{{stadium.price_evening}}</td>
                  <td class="text-center" >{{stadium.phone_number}}</td> -->
                  <td class="text-center" >
                    <img ng-if="stadium.photo" src="{{stadium.photo.source_size_lg}}" style="height:110px;width:110px" class="img-responsive" alt="Image">
                    <img ng-if="!stadium.photo" src="images/portfolio/11.jpg" style="height:110px;width:110px" class="img-responsive" alt="Image">
                  </td>
                </tr>
              </thead>
            </table>
             <ul uib-pagination total-items="totalItems" items-per-page="3" ng-model="currentPage" ng-change="pageChanged()"></ul>
        </div>
      </div>
    </div>
  </section>


    <section id="soccer-picture">
      <div class="container">
        <div class="row">
          <div class="heading text-center col-sm-8 col-sm-offset-2">
            <h2>Những Hình Ảnh Đẹp Trên Sân Cỏ Cả Nước</h2>
            <p></p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row col-md-12">
          <div class="col-sm-3">
              <div class="list-image" >
                <img   class="img-responsive" src="images/portfolio/11.jpg" alt="">
              </div>
          </div>
          <div class="col-sm-3">
              <div class="list-image">
                <img  class="img-responsive" src="images/portfolio/22.jpg" alt="">
              </div>
          </div>

          <div class="col-sm-3">
              <div class="list-image">
                <img class="img-responsive" src="images/portfolio/33.jpg" alt="">
              </div>
          </div>
          <div class="col-sm-3">
              <div class="list-image">
                <img class="img-responsive" src="images/portfolio/44.jpg" alt="">
              </div>
          </div>
          </div>
          <div class="row col-md-12">
          <div class="col-sm-3">
              <div class="list-image">
                <img class="img-responsive" src="images/portfolio/55.jpg" alt="">
              </div>
          </div>
          <div class="col-sm-3">
              <div class="list-image">
                <img class="img-responsive" src="images/portfolio/66.jpg" alt="">
              </div>
          </div>
          <div class="col-sm-3">
              <div class="list-image">
                <img class="img-responsive" src="images/portfolio/77.jpg" alt="">
              </div>
          </div>
          <div class="col-sm-3">
             <div class="list-image">
                <img class="img-responsive" src="images/portfolio/88.jpg" alt="">
              </div>
          </div>
        </div>
      </div>
    </section>
  <!--/#portfolio-->


<!-- CONTRACT -->
<section id="contact">
    <div class="container">
      <div class="row">
        <div class="contact-heading text-center col-sm-8 col-sm-offset-2">
          <h2>Contact Us</h2>
          <p>Liên hệ với chúng tôi để biết thêm thông tin.</p>
        </div>
      </div>
      <div >
        <div class="row">
          <div class="col-sm-6">
            <form  class="contact-form"action="#">
              <div class="row" >
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Name" required="required">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Email Address" required="required">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" name="subject" class="form-control" placeholder="Subject" required="required">
              </div>
              <div class="form-group">
                <textarea name="message" id="message" class="form-control" rows="4" placeholder="Enter your message" required="required"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary ">Send Now</button>
              </div>
            </form>
          </div>
          <div class="col-sm-6">
            <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
              <!-- <p>Liên hệ với chúng tôi để biết thêm thông tin.</p> -->
              <ul class="contact-address">
                <li> <span> Address:</span>  Ktx: DMC 579-P.Hòa Khánh-Q.Liên Chiểu-TP.Đà Nẵng</li>
                <li><span> Phone:</span> 0989 899 466  </li>
                <li><span> Email:</span><a href="mailto:someone@yoursite.com"> lekhoa2310@gmail.com</a></li>
                <li><span> Website:</span> <a href="#">www.datsan.com</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- Footer -->
<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>

</footer>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-cookies.min.js"></script>
<script type="text/javascript" src="js/ui-bootstrap-tpls-2.2.0.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script >
  var myApp = angular.module("myApp",['ui.bootstrap','ngCookies']);
  myApp.controller("myCtrl",function($scope,$http,$cookies){
    $scope.totalItems = 0;
    $scope.currentPage = 1;
    $scope.currentUser = $cookies.getObject('currentUser');
    console.log($scope.currentUser);
    // $scope.maxSize = 3;
    $scope.stadiums = [] ;
    $http.get('https://khuebui.herokuapp.com/api/fields/').success(function(res){
      $scope.stadiums = res;
      $scope.totalItems = res.length;

    });

    $scope.user={};

    $scope.login = function() {
      $http.post('https://khuebui.herokuapp.com/api/login?username='+$scope.user.name+'&password='+$scope.user.password).success(function(res){
          $scope.currentUser = res.user;
          $cookies.putObject('currentUser', $scope.currentUser);
      });
    };

    $scope.logout= function() {
      $cookies.remove('currentUser');
      $scope.currentUser = null;
    };
  });

</script>


</body>
</html>
