<html ng-app="myApp">
  <head>
    <title>Login</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="shortcut icon" href="images/favicon.ico">
  </head>
  <body  >
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <div class="logo">
          <img src="images/favicon.ico" alt="">
          </div>
          <!-- <a class="navbar-brand" href="#myPage">Logo</a> -->
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#myPage">HOME</a></li>
            <li><a href="#band">UPCOMMING MATCHES</a></li>
            <li><a href="#tour">SETUP A MATCH</a></li>
            <li><a href="#contact">YOUR MATCHES</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">USER CONTROL PANEL
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Merchandise</a></li>
                <li><a href="#">Extras</a></li>
                <li><a href="#">Media</a></li>
              </ul>
            </li>
            <li><a href="#contact">CONTACT</a></li>
            <!-- <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li> -->
          </ul>
        </div>
      </div>
    </nav>

    <section id="login" ng-controller="myCtrl" >
      <h1 class="text-center">Login</h1>
      <div class="container " style= "padding-top: 50px">
        <div class="col-md-4 col-sm-offset-4  " >
          <form class="login-form">
            <div class="form-group">
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Tên đăng nhập" ng-model="user.name">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Mật khẩu" ng-model="user.password">
            </div>
            <div class="text-center">
            <button ng-click="login()" type="submit" class="btn btn-primary">Sign in</button>   <a href="register.html">Create a new acount ?</a>
            </div>
          </form>
        </div>

    </div>
  </section>
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script >
    var myApp = angular.module("myApp",[]);
    myApp.controller("myCtrl",function($scope,$http){
      $scope.user={};

      $scope.login = function() {
        $http.post('https://khuebui.herokuapp.com/api/login?username='+$scope.user.name+'&password='+$scope.user.password).success(function(res){
            $scope.matches = res;
        });
      };
    });

  </script>
  </body>
</html>
