<html ng-app="myApp" ng-controller="myCtrl" >
  <head>
    <title>Matches</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" href="images/favicon.ico">

  </head>
  <body>
    <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <div class="logo">
          <img src="images/favicon.ico" alt="">
          </div>
          <!-- <a class="navbar-brand" href="#myPage">Logo</a> -->
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#myPage">TRANG CHỦ</a></li>
            <li><a href="#band">GIỚI THIÊUK</a></li>
            <li><a href="#tour">SÂN BÓNG</a></li>
            <li><a href="#contact">TRẬN ĐẤU</a></li>
            <li><a href="#contact">SÂN CỎ</a></li>
            <li><a href="#contact">LIÊN HỆ</a></li>
            <li ng-if="currentUser"><a href="#contact" style="text-transform: uppercase">{{currentUser.first_name}}</a></li>
            <li  ng-if="currentUser"><a ng-click="logout()" href="">ĐĂNG XUẤT</a></li>
            <li  ng-if="!currentUser"><a href="">ĐĂNG NHẶP</a></li>
          </ul>
        </div>
      </div>
    </nav>
    </header>

    <div id="matches">
      <div class="container " >
        <div class="row">
          <div class="heading text-center">
            <h2>Các trận đấu chuẩn bị diễn ra</h2>
          </div>
        </div>


          <div class=" col-md-12" >

              <table  >
                <thead>
                <tr>

                  <th class="text-center">Tên sân</th>
                  <th class="text-center">Người tạo</th>
                  <th class="text-center">Số lượng</th>
                  <th class="text-center">Giá cả</th>
                  <th class="text-center">Thời gian bắt đầu</th>
                  <th class="text-center">Thời gian kết thúc</th>
                  <th class="text-center">Chức năng</th>

                </tr>
                <tr ng-repeat="match in matches">
                  <td>{{match.field_id}}</td>
                  <td>{{match.host_id}}</td>
                  <td>{{match.maximum_players}}</td>
                  <td>{{match.price}}</td>
                  <td>{{match.start_time}}</td>
                  <td>{{match.end_time}}</td>
                  <td>Join</td>
                </tr>

                </thead>
              </table>

          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-cookies.min.js"></script>
    <script >
      var myApp = angular.module("myApp",['ngCookies']);
      myApp.controller("myCtrl",function($scope,$http,$cookies){
        $scope.currentUser = $cookies.getObject('currentUser');
        console.log($scope.currentUser);

        $scope.matches = [] ;
        $http.get('https://khuebui.herokuapp.com/api/matches/').success(function(res){
            $scope.matches = res;
        });
        $scope.logout= function() {
          $cookies.remove('currentUser');
          $scope.currentUser = null;
        };
      });
    </script>

  </body>

</html>
